@import "tailwindcss";

:root {
  --background: #2a2a2a;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
}
